@media(max-width: 1199px)
    .header
        &__post-img
            width: 378px
            height: 388px

        &__post-annotation
            font-size: 20px

    .search
        margin-bottom: 48px

        &__cats-find
            padding-top: 32px
            flex-direction: column-reverse
            padding-bottom: 28px

        &__find
            margin-bottom: 32px
            padding-bottom: 32px
            border-bottom: 1px solid rgba(255, 255, 255, 0.4)
            border-radius: 1px

        &__cats
            flex-wrap: wrap
            margin-bottom: 0px

        &__cat
            margin-bottom: 4px

    .posts
        margin-bottom: $title-margin-1199

        &__post
            width: 290px
            height: 460px
            margin-bottom: 32px

            img
                width: 290px
                height: 200px
                border-radius: 12px

        &__pages-box
            padding: 32px

