@media(max-width: 575px)

    h1
        line-height: 120%

    .wrapper
        width: 280px

    .header
        &__wrapper
            padding-top: 120px

        &__content
            width: 280px

        &__menu-wrapper
            padding-top: 12px
            padding-bottom: 12px

        &__nav-mobile-block
            top: 12px
            right: calc(-1 *(100% - 280px) / 2 - 20px)

        &__nav-mobile-block-show
            right: calc((100% - 280px) / 2)


        